<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Contact Phillip Spencer</title>
</head>
<body>
    <header class="main-menu">
        <h1>Welcome {{user.username}}!</h1>
    </header>

    <main>
        <section class="main-menu">
                  <div class="header"></div>
                    <div class="menu-options">
                      <h3>
                        AuotoSummary to be displayed here! A description of {{user.username}}, and an
                        the gist of their main quest.
                      </h3>
                    <!-- navigation -->
                    <div id="navigation">
                     <ul>
                        <li>
                          <a href="/main-quest">Main Quest</a>
                        </li>
                        <li>
                          <a href="/side-quests-menu">Side Quests</a>
                        </li> 
                        <li>
                          <a href="/user-page">User</a>
                        </li>
                        <li>
                          <a href="/Skills">Skills</a>
                        </li>
                        <li>
                          <a href="/settings">Settings</a>
                        </li>
                        <li>
                          <a href="/auth/logout">Logout</a>
                        </li>
                      </ul>
                    </div>
                    <!--  -->
                    </div>
            <footer>&copy; Copyright 2023</footer>
        </section>
    </main>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</body>
</html>